$primary-font: 'Montserrat', 'Open Sans', sans-serif;
$secondary-font: 'Open Sans', sans-serif;

$primary-color: #232233;
$secondary-color: #23d;
$light-gray: #bbc7cc;

$facebook-color: #3b5998;
$twitter-color: #55acee;
$googleplus-color: #dd4b39;

