$primary-font: 'Montserrat', 'Open Sans', sans-serif;
$secondary-font: 'Open Sans', sans-serif;

$primary-color: #232233;
$secondary-color: #23d;
$light-gray: #bbc7cc;
$lighter-gray: #ebf2f6;

$font-primary-color: #222;
$font-secondary-color: #555;

$facebook-color: #3b5998;
$twitter-color: #55acee;
$googleplus-color: #dd4b39;

